body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 10% 10%;
}

section {
    margin: 20px 0;
}

section h1 {
    font-size: 2em;
}

section p {
    font-size: 1.5em;
    color: #333;
}

section a {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section a:hover {
    background-color: #555;
}

.hero-img img {
    width: 100%;
}